<div class="agency-tab main-home">
    <%-include('../../common/mainTitle/index.ejs',{headTitle:"JS++深度前端",isMore:false})%>
    <%-include('../../recomCourse/index.ejs',{recomCourses})%>
    <%-include('../../collection/index.ejs',{collections,IMG_BASE_URL})%> <%-
    include('../../common/mainTitle/index.ejs',{ headTitle: 'JS++明星老师',isMore:false}) %>
    <%-include('../../teacher/index.ejs',{teachers:starTeachers,IMG_BASE_URL})%>
    <%-include('../../student/index.ejs',{students,IMG_BASE_URL})%>
</div>
